# Ignore database files
*.db
*.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs and other temporary files
*.log
*.swp
*.swo
*.~*

# Ignore media files (e.g. user-uploaded files)
media/

# Ignore static files (e.g. CSS, JavaScript, images)
static/

# Ignore environment files
.env
*.env
*.env.*
